@media (min-width: 360px) and (max-width: 650px) {
    main::after {
    width: 100%;
    background: linear-gradient(730deg, #000 35%, #00000000 65%) no-repeat;
    background-size: cover;
    }

main > div.personagem {
    background-position: center;
    background-size: cover;
}

main > div.personagem > div.conteudo {
    gap: 2rem;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    padding: 5px;
}

a > svg {
    width: 360px;
    height: 120px;
}

div.conteudo > h1 {
    font-size: 2em;
}

ul.icons {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 15%;
    top: 85%;

}

aside.social {
    animation-name: social-mobol;

}

@keyframes social-mobol {
    from {
        top: -5%;
    }

    to {
        top: 5%;
    }
}

}

@media (min-width: 650px) and (max-width: 998px) {
    main::after {
    width: 100%;
    background: linear-gradient(730deg, #000 35%, #00000000 65%) no-repeat;
    background-size: cover;
    }

main > div.personagem {
    background-position: center;
    background-size: cover;
}

main > div.personagem > div.conteudo {
    gap: 2rem;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    padding: 5px;
}

a > svg {
    width: 560px;
    height: 150px;
}

div.conteudo > h1 {
    font-size: 2em;
}

ul.icons {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 15%;
    top: 85%;

}

aside.social {
    animation-name: social-mobol;

}

@keyframes social-mobol {
    from {
        top: -5%;
    }

    to {
        top: 5%;
    }
}

}