@media (min-width: 160px) and (max-width: 650px) {
    main::after {
    width: 100%;
    background: linear-gradient(730deg, #000 35%, #00000000 65%) no-repeat;
    background-size: cover;
    }

main > div.personagem {
    background-position: center;
   
}

main > div.personagem > div.conteudo {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

a > svg {
    width: 360px;
    height: 210px;
}

div.conteudo > h1 {
    margin-bottom: 10;
    font-size: 2em;
}

ul.icons {
    position: absolute;
    flex-direction: row;
    left: 0;
    height: 120px;
    width: 100vw;
    z-index: 3;
}

aside.social {
    animation-name: social-mobol;

}

@keyframes social-mobol {
    from {
        top: 94%;
        left: -70%;
    }

    to {
        top: 94%;
        left: 50%;
        transform: translate(-50%);
    }
}

}

@media (min-width: 650px) and (max-width: 998px) {
    main::after {
    min-Width: 100%;
    background: linear-gradient(730deg, #000 35%, #00000000 65%) no-repeat;
    background-size: cover;
    }

main > div.personagem {
    background-position: center;
    background-size: cover;
}

main > div.personagem > div.conteudo {
    gap: 2rem;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 360px;
    padding: 5px;
}

a > svg {
    width: 560px;
    height: 220px;
}

div.conteudo > h1 {
    font-size: 2em;
}

ul.icons {
    position: absolute;
    flex-direction: row;
    left: 0;
    height: 120px;
    width: 100vw;
    z-index: 3;
}

aside.social {
    animation-name: social-mobol;

}

@keyframes social-mobol {
    from {
        top: 94%;
        left: -65%;
    }

    to {
        top: 94%;
        left: 50%;
        transform: translate(-50%);
    }
}

}